include ./_env/_variables.jade
doctype
html
	head
		include ./partials/head-area.jade
	body
		#wrapper
			#calculator
			#description
				h1 See you later as an calculator: calc u later.
				p You can use your Keyboard to enter all digits, dots and operands or just click them with your mouse.
		include ./partials/scripts.jade