@keyframes materialHover
	0%
		width 0em
		height 0em
		line-height 0em
	100%
		width 100em
		height 100em
		line-height 100em

@keyframes materialOut
	0%
		width 100em
		height 100em
		line-height 100em
	100%
		width 0em
		height 0em
		line-height 0em