title Calculate – no typo, just a cool name
meta(charset="utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
link(href="/assets/css/#{stylecss}.css" rel="stylesheet" type="text/css")