$primary_color = #a2c037
$primary_white = #ffffff
$primary_text = #8e8f84

$secondary_green = #b0ca56

$button_orange = #dc9019
$button_green = $primary_color

$navigation_bg = $primary_color
$navigation_hover = $secondary_green

$base_font = Lato, Arial, sans-serif

$colPageBG = #FFFFFF
$media_tablet = "screen and (min-width: 768px)"
$media_desktop = "screen and (min-width: 992px)"